<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->

<h3>Make a new memo:</h3>
<input type="text" name = "memo" id = "memo" value = "memo"> 
<input type="date" name = "date" id = "date" value = "mm/dd/yy"> 
<input type="button" name = "submit_memo" id = "submit_memo" value = "save memo">

<div id = "memo_list" />
<!-- <h1>Memos</h1>
<form id="new_memo">
  <h3>Make a new memo:</h3>
  <input type="text" name = "memo"> 
  <input type="date" name = "date"> 
  <input type="submit">
</form> -->

<!-- {% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo" style="border: thin solid black">
  <div class="row">
  <div class="col-md-2">
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
    {{ memo.text }}
  </div>
  </div>
  </div>
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}
-->

<script>

  $(document).ready(function(){

    // call postMemo with contents of the
    // fields above when the submit button
    // is clicked
    $("#submit_memo").click(function(e){
      e.preventDefault();
      postMemo({
        "memo" : $("#memo").val(),
        "date" : $("#date").val()
      });
    });
  });

  // inserts the passed memo into the database
  // the query will asynchronously update the 
  // memos within the document upon insertion.
  function postMemo(memo){
    return $.ajax({
     type : "POST",
     url  : "_create_memo",
     data : memo,

     // update memos in view
     success : function(res){
      drawMemos(res);
     }
    });

    // var memoTemplate = $('script[data-template="listitem"]').text().split(/\$\{(.+?)\}/g);

    // function render(props) {
    //   return function(tok, i) { return (i % 2) ? props[tok] : tok; };
    // }

    function drawMemos(res){
      $("#memo_list").html([
        { url: '/foo', img: 'foo.png', title: 'Foo item' },
        { url: '/bar', img: 'bar.png', title: 'Bar item' },
      ].map(Item).join(''));
      console.log(res);
    }
  }

  const Item = ({ url, img, title }) => `
    <a href="${url}" class="list-group-item">
      <div class="image">
        <img src="${img}" />
      </div>
      <p class="list-group-item-text">${title}</p>
    </a>
  `;
 
</script>

<!-- script pseudotemplate for inserting memoss -->
<!-- <script type="text/template" data-template="listitem">
  <a href="${url}" class="list-group-item">
      <table>
          <tr>
              <td><img src="${img}"></td>
              <td><p class="list-group-item-text">${title}</p></td>
          </tr>
      </table>
  </a>
</script> -->

 

</div> <!-- container -->
</body>
</html>
