<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<h3>Make a new memo:</h3>
<input type="text" name = "memo" id = "memo" value = "memo"> 
<input type="date" name = "date" id = "date" value = "mm/dd/yy"> 
<input type="button" name = "submit_memo" id = "submit_memo" value = "save memo">

<div id = "memo_list" />

<script>

  $(document).ready(function(){

    // retrieve + draw current memos on
    // page load.
    $.ajax({
      type : "GET",
      url : "_retrieve_memos",
      success : function(res){
        drawMemos(res);
        console.log("called retrieve memos")
      }
    });

    // call postMemo with contents of the
    // fields above when the submit button
    // is clicked
    $("#submit_memo").click(function(e){
      e.preventDefault();
      postMemo({
        "memo" : $("#memo").val(),
        "date" : $("#date").val()
      });
    });

    // calls deleteMemo with the name of the button
    // that called, which is the memo's ID.
    $("#memo_list").on("click", ".memo-delete-button", function(e){
      e.preventDefault();
      deleteMemo($(this).attr('name'));
    });
  });

  // inserts the passed memo into the database
  // the query will asynchronously update the 
  // memos within the document upon insertion.
  function postMemo(memo){
    $.ajax({
      type : "POST",
      url  : "_create_memo",
      data : memo,
      success : function(res){
        drawMemos(res);
      }
    });
  }

  // delete memo with the ID passed, and refreshes
  // memos from the Database.
  function deleteMemo(id){
    $.ajax({
      type : "POST",
      url  : "_delete_memo",
      data : {"id" : id},
      success : function(res){
        drawMemos(res);
      }
    });
  }

  // Draws returned memos from AJAX query, synchronizing
  // the client's view with the database. 
  function drawMemos(res){
    $("#memo_list").html(
      res.map(MEMOTEMPLATE).join('')
    );
  }

  // template for rendering memos in the view.
  // by performing string interpolation on a partial
  // HTML element
  const MEMOTEMPLATE = ({text, date, _id}) => {
    return `
        <div class = "list-group-item memo">
          <input type = button class = "memo-delete-button pull-right" name = ${_id} value = "delete memo" />
          <p class = "memo-date">${date}</p>
          <h3 class = "memo-text">${text}</h3>
        </div>
      `
  };
 
</script>

</div> <!-- container -->
</body>
</html>
